*
!*/
!.gitignore
!main.py
!requirements.txt
!texture.jpg
!cropped_1.ply
!cropped_2.ply
!digital.obj
!scan.obj
!crop.py
!Models/coffee_machine-digital-with_joints.obj
!Models/coffee_machine-scanned_result-iphone/coffee_machine-scanned_result-iphone.obj